LoodonDAL/Web References/com.krayknot.wcfservices/ServiceInsert1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ClassLibrary_Krayknot" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ClassLibrary_Krayknot" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Users_About" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Users_Active" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Users_Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Users_DateCreated" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Users_Domain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Users_Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Users_FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Users_ImagePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Users_IsAdmin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Users_Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Users_Software" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Users_Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDetails" nillable="true" type="tns:UserDetails" />
</xs:schema>